<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md mx-auto">
      <div class="flex items-center justify-center">
        <img
          src="https://ssb.wiki.gallery/images/a/a0/Pikachu_SSB4.png"
          alt="Pikachu"
          class="w-52"
        />
        <h1 class="text-6xl font-bold mr-6">Pokemon Gym Hub</h1>
      </div>
      <p class="py-6 text-xl text-gray-700">
        Welcome to the Pokemon Gym Hub! This project is a comprehensive database
        of Pokemon Gyms, Trainers, and their respective Pokemons. Explore the
        world of Pokemon by choosing a gym, selecting trainers, and discovering
        the diverse range of Pokemon they have.
      </p>
    </div>
  </div>
</div>
