<div
  class="card lg:w-96 md:w-72 w-56 bg-base-100 shadow-xl mb-10 cursor-pointer card-hover mt-5"
  data-aos="fade-up"
  [routerLink]="['/pokemon', pokemon_data.id]"
>
  <figure>
    <img
      src="https://t4.ftcdn.net/jpg/02/65/13/03/360_F_265130336_TE7GgWBunhfkGx4sA7YAS9kIZ5EROGth.jpg"
      alt="Shoes"
    />
  </figure>
  <div class="card-body">
    <h2 class="card-title flex justify-center">{{ pokemon_data.name }}</h2>
    <!-- Edit button -->
    <button
      class="edit-button"
      [routerLink]="['/pokemon-edit', pokemon_data.id]"
    >
      Edit
    </button>

    <div class="card-actions flex justify-center">
      <!-- Add other actions/buttons if needed -->
    </div>
  </div>
</div>
