<div class="card w-96 bg-base-100 shadow-xl mb-10 cursor-pointer card-hover">
  <figure>
    <img src="https://www.pokemongoplusplus.com/img/img-1.jpg" alt="Shoes" />
  </figure>
  <div class="card-body">
    <h2 class="card-title flex justify-center">{{ gym_data.name }}</h2>
    <!-- <p>If a dog chews shoes whose shoes does he choose?</p> -->
    <div class="card-actions flex justify-center">
      <!-- <button class="btn btn-primary bg-blue-300 text-black border-none">
        Enter
      </button> -->
    </div>
  </div>
</div>
