<h1 class="flex items-center justify-center text-4xl mb-5">Pokemon Details</h1>

<div>
  <div class="card card-compact bg-slate-700 shadow-2xl">
    <figure>
      <img
        class="rounded-lg mt-2"
        src="https://i.pinimg.com/originals/db/be/4d/dbbe4d8b26b526e17cd78b90a9fc953c.gif"
        alt="Shoes"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title text-4xl">Name:</h2>
      <p class="text-2xl">Type:</p>
      <p class="text-xl">Level:</p>
      <p class="text-xl">Species:</p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary bg-blue-400 border-none">Edit</button>
        <button class="btn btn-primary bg-red-400">Delete</button>
      </div>
    </div>
  </div>
</div>
