<div class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">Create Trainer</h1>
        <!-- Input field and submit button -->
        <form (ngSubmit)="onSubmitForm()">
          <div class="form-control mt-2">
            <input
              type="text"
              id="trainerName"
              name="trainerName"
              placeholder="Enter trainer name"
              class="flex justify-center items-center m-auto input input-bordered w-full max-w-md mt-2"
              required
              [(ngModel)]="trainerName"
            />
          </div>
  
          <div class="form-control mt-2">
            <input
              type="text"
              id="badge"
              name="badge"
              placeholder="Enter badge name"
              class="flex justify-center items-center m-auto input input-bordered w-full max-w-md mt-2"
              required
              [(ngModel)]="badge"
            />
          </div>
  
          <div class="form-control mt-2">
            <label
              for="badgeSelect"
              class="block text-sm font-medium text-gray-700"
              >Select Pokemon(s)</label
            >
            <select
              id="badgeSelect"
              name="badgeSelect"
              class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md"
              [(ngModel)]="selectedPokemonId"
            >
              <option value="" disabled>Select a Pokemon</option>
              <ng-container *ngFor="let pokemon of pokemons">
                <option [value]="pokemon.id">{{ pokemon.name }}</option>
              </ng-container>
            </select>
            <!-- <button
              type="button"
              class="btn btn-error bg-green-400 mt-2"
              (click)="addPokemon(selectedPokemonId)"
            >
              Add Pokemon
            </button> -->
          </div>
          <div class="form-control mt-2">
            <label
              for="typeSelect"
              class="block text-sm font-medium text-gray-700"
              >Select Gym(s)</label
            >
            <select
              id="typeSelect"
              name="typeSelect"
              class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md"
              [(ngModel)]="selectedGymId"
            >
              <option value="" disabled>Select a Gym</option>
              <ng-container *ngFor="let gym of gyms">
                <option [value]="gym.id">{{ gym.name }}</option>
              </ng-container>
            </select>
            <!-- <button
              type="button"
              class="btn btn-error bg-green-400 mt-2"
              (click)="addGym(selectedGymId)"
            >
              Add Gym
            </button> -->
          </div>
          <div class="flex justify-center mt-4">
            <button
              type="submit"
              class="h-10 w-32 text-white rounded-lg bg-blue-500 mt-10"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
